
.open-sans{
    font-family: "Open-sans" sans-serif;
    font-optical-sizing: auto;
    font-weight :<weight>;
    font-style : normal;
    font-variation-settings:"wdth" 100;    
}

.orange {
    color:rgb(248, 84, 24);
}

nav ul li a{
    text-decoration: none;
    color: aquamarine;
}


nav ul{

list-style: none;
display: flex ;
align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin-right: 50px;
}
.btn-primary{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 20px;
}